 * {
     margin: 0;
     padding: 0;
 }

.peso {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1.1rem;
}
 
.altura {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1.1rem;
}

.button {

    display: flex;
    align-items: center;
    justify-content: center;
}